<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Template • TodoMVC路由的方式</title>
		<link rel="stylesheet" href="css/index.css">
		<!-- CSS overrides - remove if you don't need it -->
		<link rel="stylesheet" href="css/app.css">
	</head>
	<body ng-app='myApp'>
		<!--<div ng-view></div>--><!--两种方式都可以-->
		<ng-view></ng-view>
		<script  id="mainTemp" type="text/ng-template">
			<section class="todoapp"><!--删掉ng-controller-->
				<header class="header">
					<h1>todos</h1>
					<!--点击的时候添加输入框的值-->
					<form ng-submit='add()'>
						<!--和模型建立绑定关系-->
						<input class="new-todo" placeholder="What needs to be done?" ng-model='text'  autofocus>
					</form>
				</header>
				<!--当列表有数据的时候，显示出来-->
				<section class="main" ng-show='data.length'>
					<input class="toggle-all" type="checkbox" ng-click = 'toggleAll()'>
					<label for="toggle-all">Mark all as complete</label>
					<ul class="todo-list">
						<!--根据data数据遍历循环动态生成li，并根据数据动态添加class-->
						<!--当前被遍历的元素是否加上编辑的class（editing），取决于是否当前所选id是否是双击的那个id-->
						<li ng-repeat='item in data | filter:selector:equalCompare' ng-class='{completed:item.completed,editing:item.id === currentEditingId}' data-id='{{item.id}}'>
							<div class="view">
								<!--根据数据判断勾选与否-->
								<!--单独切换某一个需要触发ng-change事件-->
								<input class="toggle" type="checkbox" ng-model='item.completed' ng-change='toggle()'>
								<!--根据模型绑定内容-->
								<!--双击的话，就证明是要编辑的li，就把该li的id传进函数里-->
								<label ng-dblclick='editing(item.id)'>{{item.text}}</label>
								<!--关闭按钮-->
								<button class="destroy" ng-click='remove(item.id)'></button>
							</div>
							<!--当点击回车的时候，就不再是编辑的状态了-->
							<form ng-submit='save()'>
								<!--编辑状态下，显示文本框的值-->
								<input class="edit" ng-model='item.text'>
							</form>
						</li>
					</ul>
				</section>
				<!-- This footer should hidden by default and shown when there are todos -->
				<footer class="footer" ng-show='data.length'>
					<!-- This should be `0 items left` by default -->
					<!--根据列表的个数显示-->
					<span class="todo-count"><strong>{{data.length}}</strong> item left</span>
					<!-- Remove this if you don't implement routing -->
					<ul class="filters">
						<li>
							<a ng-class="{selected:selector.completed == undefined}" href="#/">All</a>
						</li>
						<li>
							<!--决定是否要添加的class,根据简单类型的值进行比较-->
							<a ng-class="{selected:selector.completed == false}" href="#/active">Active</a>
						</li>
						<li>
							<a ng-class="{selected:selector.completed == true}" href="#/completed">Completed</a>
						</li>
					</ul>
					<!-- Hidden if no completed items are left ↓ -->
					<button class="clear-completed" ng-click='clear()' ng-show='exitCompleted()'>Clear completed</button>
				</footer>
			</section>
			
		</script>
		<footer class="info">
			<p>Double-click to edit a todo</p>
			<!-- Remove the below line ↓ -->
			<p>Template by <a href="http://sindresorhus.com">Sindre Sorhus</a></p>
			<!-- Change this out with your name and url ↓ -->
			<p>Created by <a href="http://todomvc.com">you</a></p>
			<p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
		</footer>
		<!-- Scripts here. Don't remove ↓ -->
		<script src="js/angular.js"></script>
		<script src="js/angular-route.js" ></script>
		<script src="js/main.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/service.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/app2.js"></script>
	</body>
</html>
