body,p,dd,dl,h1,h2,h3,h4,h5,h6{
		margin: 0;
	}
ol,ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
a{
	text-decoration: none;
}
img{
	vertical-align: top;
	border: none;
}
input{
	padding: 0;
	margin: 0;
}
option{
	padding: 0;
}