/*top*/
.top{
	height: 30px;
	background-color: #f3f3f3;
}

.top_content{
	width: 1200px;
	height: 29px;
	margin: 0 auto;
	font-size: 11px;
	line-height: 29px;
	padding-bottom: 1px;
}
.top_content_left .telephone i{
	position: absolute;
	top: 7px;
	left: 0;
	width: 16px;
	height: 16px;
	background: url(../img/index/sprite.jpg) no-repeat;
	
}
.top_content_left li{
	margin-right: 15px;
	font-size: 11px;
	float: left;
}
.top_content_left a:hover{
	color: red;
}
.top_content_left .telephone{
	padding-left: 21px;
	position: relative;
}
.top_content_left .telephone a{
	color: #e3101e;
}	
.top_content_left li a{
	color: #5e5e5e;
}
.top_content_right{
	width: 710px;
}
.top_content_right a{
	color: #5e5e5e;
}
.top_content_right a:hover{
	color: red;
}
.top_content_right li{
	float: left;
	color: #a5a5a5;
}
.top_content_right .strong{
	font-weight: bold;
	margin-left: 15px;
	margin-right: 11px;
}
.top_content_right .strong a{
		color: #333333;
}
.top_content_right .span{
	position: relative;
	font-size: 11px;
	line-height: 29px;
	border-bottom: 1px;
	height: 30px;
	margin-left: 10px;
}
.top_content_right .span span{
	height: 12px;
	border-left: 1px solid #e6e6e6;
	position: absolute;
	top: 9px;
	left: 0;
	color: #e6e6e6;
}
.top_content_right .span a{
	margin-left: 10px;
}
.my_guomei{
	height: 29px;
	font-size: 11px;
	line-height: 29px;
	padding-top: 1px;
	position: relative;
	margin-left: 20px;
	padding-right: 12px;
}
.my_guomei i{
	position: absolute;
	left: 52px;
	top: 11px;
	width: 7px;
	height: 7px;
	background: url(../img/index/sprite.jpg) no-repeat;
	background-position: -293px 0;
}
.guomei_club{
	margin-left: 21px;
}
.shop{
	margin-left: 29px;
	position: relative;
	padding-right: 18px;
}
.shop a{
	color: #0066cc;
}
.shop em{
	width: 15px;
	height: 15px;
	position: absolute;
	left: 51px;
	top: 8px;
	background: url(../img/index/sprite.jpg) no-repeat;
	background-position: 0 -16px;
}
/* header  */
.header{
	width: 1200px;
	height: 135px;
	margin: 0 auto;
}
.header_firstfloor{
	width: 1200px;
	height: 95px;
}
.header_firstfloor h1{
	text-indent: -2000px;
	width: 200px;
	height: 43px;
	background: url(../img/index/sprite.jpg) no-repeat;
	background-position: -16px 0;
	float: left;
	margin-top: 20px;
	margin-right: 11px;
}
.header_firstfloor .banner{
	margin-top: 20px;
	float: left;
}
.header_content_middle{
	width: 500px;
	height: 61px;
	margin-top: 16px;
	margin-left: 87px;
	float: left;
	
}
.search_box input{
	border:2px solid #e3101e;
	width: 387px;
	height: 20px;
	padding: 5px 10px;
}
.search input{
	width: 89px;
	height: 34px;
	background-color: #e3101e;
	color: #f6e8ff;
	border:2px solid #e3101e;
	cursor: pointer;
}
.search_style{
	font-size: 0;
}
.search_style a{
	color: #a5a5a5;
	font-size: 11px;
	line-height: 27px;
	margin-right: 9px;
	
}
.search_style a:hover{
	color: red;
}
.search_style .strong{
	color: #e3101e;
}
.shopcar{
	width: 131px;
	height: 33px;
	float: right;
	position: relative;
	margin-top: 14px;
}
.shopcar span{
	width: 94px;
	height: 33px;
	position: absolute;
	top: 0;
	left: 0;
	background: url(../img/index/sprite.jpg) no-repeat;
	background-position: 0 -44px;
}
.shopcar i{
	width: 7px;
	height: 7px;
	position: absolute;
	top: 21px;
	left: 112px;
	background: url(../img/index/sprite.jpg) no-repeat;
	background-position: -286px 0;
}
/*  nav   */
.nav{
	width: 1200px;
	height: 41px;
}
.nav_left{
	width: 200px;
	position: relative;
	float: left;
}
.nav_left h3{
	width: 200px;
	height: 41px;
	background: #474747;
}
.nav_left h3 a{
	color: #fff;
	font-size: 16px;
	line-height: 41px;
	padding-left: 15px;
}
.listnav{
	width: 200px;
	height: 450px;
	position: absolute;
	top: 41px;
	left: 0;
}
.listbg{
	width: 200px;
	height: 449px;
	color: #303a47;
	position: absolute;
	top: 0;
	left: 0;
	background: #000;
	opacity: .7;
}
.nav_left_content{
	width: 200px;
	height: 449px;
	padding-top: 1px;
    position: relative;
    z-index: 100;
}
.nav_left_content li{
	font-size: 0;
	padding: 0 15px;
	overflow: hidden;
}
.nav_left_content li:hover{
	background: #fff;
}
.nav_left_content li a{
	font-size: 12px;
	line-height: 30px;
	margin-right: 6px;
	color: #fff;
}

.nav_left_content li:hover a{
	color: #000;
	font-size: 12px;
}
.nav_left_content li a:hover{
	color: red;
}
.nav_left_content li .nav_left_content_margin{
	margin-right: 4px;
}
.nav_left_content_borer{
	height: 29px;
	border-bottom: 1px solid #5a5f65;
}
.banner_style{
	font-size: 0;
	height: 41px;
	margin-left: 20px;
	float: left;
}
.banner_style li a{
	font-size: 12px;
	line-height: 40px;
	color: #000;
}
.banner_style a:hover{
	color: red;
}
.banner_style li{
	height: 40px;
	padding-top: 1px;
	margin-right: 39px;
	float: left;
}

.nav_banner{
	width: 141px;
	height: 25px;
	float: right;
	position: relative;
	font-size: 0;
}
.nav_banner i{
	width: 7px;
	height: 7px;
	position: absolute;
	top: 3px;
	left: 134px;
	background: url(../img/index/sprite.jpg) no-repeat;
	background-position: -286px 0;
	
}
.nav_banner em{
	width: 7px;
	height: 7px;
	position: absolute;
	top: 15px;
	left: 134px;
	background: url(../img/index/sprite.jpg) no-repeat;
	background-position: -293px -7px;
}


/*  footer   */
footer{
	border-top: 5px solid #e3101e;
	height: 552px;
	background: #f8f8f8;
}
.footer_first{
	width: 1200px;
	height: 214px;
	margin: 0 auto;
}
.footer_first a:hover{
	color: red;
}
.footer_first dl{
	width: 122px;
	margin-right: 44px;
	float: left;
}
.footer_first dt a{
	font-size: 16px;
	line-height: 45px;
	color: #333;
	padding-left: 30px;
}
.footer_first dd a{
	font-size: 12px;
	line-height: 22px;
	padding-left: 32px;
	color: #5e5e5e;
}
.footer_second{
	width: 1200px;
	height: 70px;
	background: #efefef;
	margin: 0 auto;
}
.footer_second ul{
	padding: 0 50px;
}
.footer_second li{
	width: 220px;
	height: 66px;
	position: relative;
	padding-top: 4px;
	float: left;
	text-align: center;
}
.footer_second li i{
	display: inline-block;
	height: 39px;
	width: 40px;
	background: url(../img/index/sprite.jpg) no-repeat;
	margin-right: 9px;
	vertical-align:middle;
}
.footer_second li a{
	font-size: 18px;
	line-height: 66px;
	margin-right: 15px;
	color: #5d5d5d;
	font-weight: 800;
	font-family: "微软雅黑";
}
.footer_second a:hover{
	color: red;
}
.footer_second .footer_second_icon1 i{
	background-position: 0 -76px;
}
.footer_second .footer_second_icon2 i{
	background-position: 0 -115px;
}
.footer_second .footer_second_icon3 i{
	background-position: 0 -154px;
}
.footer_second .footer_second_icon4 i{
	background-position: 0 -193px;
}
.footer_second .footer_second_icon5 i{
	background-position: 0 -232px;
}
.links{
	width: 1200px;
	margin: 0 auto;
	margin-top: 9px;
	font-size: 0;
}
.links_top{
	text-align: center;
	height: 32px;
}
.links a{
	margin-right: 15px;
	color: #5e5e5e;
	font-size: 12px;
	line-height: 32px;
	
}
.links a:hover{
	color: red;
}
.links span{
 	font-size: 12px;
	border-left: 1px solid #ece8e8;
	margin-right: 19px;
}
.link_bottom a{
	margin-right: 16px;
	width: 60px;
	height: 32px;
	text-align: center;
	float: left;
}

.link_bottom{
	height: 32px;
}
.link_bottom .link_bottom_sprite{
	padding-left: 40px;
	font-weight: bold;
	font-family: "宋体";
	position: relative;
	width: 50px;
	height: 32px;
	margin-right: 19px;
}
.link_bottom_sprite i{
	background: url(../img/index/sprite.jpg) no-repeat;
	background-position: 0 -271px;
	position: absolute;
	top: 6px;
	left: 0;
	width: 29px;
	height: 18px;
}
.link_bottom_content{
	width: 261px;
	height: 32px;
	margin: 0 auto;
}
.footer_lastfloor{
	width: 1200px;
	margin: 0 auto;
	margin-top: 23px;
	height: 173px;
}
.fl_left{
	width: 715px;
	margin-left: 232px;
	height: 173px;
}
.fl_img{
	position: relative;
	height: 56px;
	width: 715px;
}
.fl_img i{
	width: 40px;
	height: 39px;
	position: absolute;
	top: 17px;
	left: 348px;
	background: url(../img/index/sprite.jpg) no-repeat;
	background-position: 0 -290px;
}
.fl_left p{
	font-size: 12px;
	line-height: 22px;
	margin-left: 26px;
	margin-top: 6px;
	color: #a5a5a5;
}
.fl_left_bottom{
	margin-top: 5px;
}
.fl_left_bottom a{
	color: #fff;
	font-family: "宋体";
	float: left;
	margin-right: 23px;
	background: #cf0d29;
	width: 122px;
	height: 33px;
	border: 1px solid #fccc20;	
	border-radius: 3px;
}
.fl_left_bottom i{
	float: left;
	width: 48px;
	height: 33px;
	background: url(../img/index/sprite.jpg) no-repeat;
}
.fl_left_bottom .footer_lastfloor_icon1 i{
	background-position: 0 -328px;
}
.fl_left_bottom .footer_lastfloor_icon2 i{
	background-position: 0 -365px;
}
.fl_left_bottom .footer_lastfloor_icon3 i{
	background-position: -252px -31px;
}
.fl_left_bottom .footer_lastfloor_icon4 i{
	background-position: -252px -63px;
}
.fl_left_bottom .footer_lastfloor_icon5 i{
	background-position: -252px -97px;
}
.fl_left_bottom b{
	float: right;
	width: 67px;
	height: 31px;
	font-size: 12px;
	line-height: 14px;
	padding-left: 7px;
	padding-top: 2px;
	font-weight: normal;
}
.fl_left_bottom .footer_margin_right{
	margin-right: 0;
}
.fl_right a{
	margin-right: 108px;
}
.fl_left_bottom .footer_padding{
	padding-top: 9px;
	height: 24px;
}
